<div ng-controller="formController as form">

    <input type="text" ng-model="form.chooseTime()">

</div>


       vm.chooseTime = function(timeOfDay) {

       };
       vm.choosePet = function(typeOfPet) {

       };
       vm.chooseItem = function(nonFood) {

       };
       vm.chooseFood = function(typeOfFood) {

       };
       vm.chooseMorningAction = function(morningAction) {

       };
       vm.chooseRoom = function(roomInHouse) {

       };
       vm.choosePetAction = function(petAction) {

       };